.ant-layout-has-sider {
  .ant-menu {
    width: 256px;
    height: calc(100vh - 112px);
    background-color: #ebf0f0;

    &-item {
      display: flex;
      align-items: center;
      height: 48px;

      &:first-child {
        width: 44px;
        height: 48px;
        margin: 20px 32px;
        padding: 0;
      }

      &:last-child {
      }

      .bg-ic-logo {
        width: 44px;
        height: 44px;
      }

      &-group {
        margin-top: 27px;

        &-title {
          padding-left: 32px;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px;
          color: #747a80;
        }

        &-list {
          .ant-menu-item {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0;
            border-radius: 0;

            &:hover {
              border-right: 2px solid #0052ff;
              background-color: transparent !important;
            }

            img {
              margin-right: 14px;
            }
          }
        }
      }
    }

    &-item-selected {
      border-right: 2px solid #0052ff;
      background-color: transparent !important;
      font-weight: bold;
      color: black;
    }
  }

  .ant-layout {
    width: calc(100% - 256px);
    height: 100vh;
    background-color: white;
  }
}
